body{
  background-image: url(../img/bd-bg.jpg);
}
#leermas{
    background: transparent;
    text-decoration: none;
    padding: 20px;
    color: white;
}
#leermas :hover {
    
    background: white;
    color:gray;
    
}

.fadebox {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.overbox {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index:1002;
    overflow: auto;
}